<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>{% block title %}Base Title{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('address_book') }}">Addresses</a></li>
                <li><a href="{{ url_for('note_book') }}">Notes</a></li>
            </ul>
        </nav>
        
        <h1>{% block header %}Base Header{% endblock %}</h1>
        
        <div id="content">
            {% block content %}{% endblock%}
        </div>
        <div id="flash_content">
            {% for msg in get_flashed_messages() %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
    </body>
</html>